@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

$baseColor: #1c3142;
$primaryColor: #0e1821;
$highlight: #cca43b;
$textWhite: #eee;

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: $baseColor;
}

.navigation {
  height: 80px;
  width: 100%;
  background: $primaryColor;
  position: sticky;
  top: 0%;
  left: 0%;
  z-index: 999;

  .nav-container {
    height: inherit;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo-box {
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;

      img {
        width: 42px;
        height: 42px;
        object-fit: contain;
      }

      span {
        color: white;
        font-weight: bolder;
        font-family: "Times New Roman", Times, serif;
        font-size: 2rem;
      }
    }

    .nav {
      display: flex;
      gap: 25px;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;

        .nav-link,
        .drop-hover {
          text-decoration: none;
          color: white;
          font-size: 1rem;
          transition: 300ms ease;
        }

        .nav-link:hover {
          color: #cca43b;
        }

        .dropdown {
          position: relative;
          display: block;

          .drop-hover {
            cursor: pointer;
            display: block;
          }

          .drop-hover:hover + .sub-menu {
            height: 200px;
            opacity: 1;
            visibility: visible;
          }

          .sub-menu {
            position: absolute;
            top: 52px;
            height: 0px;
            left: 0%;
            min-width: 230px;
            background: $primaryColor;
            z-index: 999;
            display: block;
            border-top: 2px solid white;
            box-shadow: 0px 0px 8px 2px rgb(0, 0, 0);
            opacity: 0;
            visibility: hidden;
            transition: all 400ms ease;

            &:hover {
              height: 200px;
              opacity: 1;
              visibility: visible;
            }

            li {
              list-style: none;
              padding: 0.75rem 1.6rem;
            }

            a {
              text-decoration: none;
              color: white;
              line-height: 4px;

              &:hover {
                transition: 300ms ease;
                color: $highlight;
              }
            }
          }
        }
      }
    }
  }
}

// Hero section

.hero {
  background: url(./assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-box {
    background: $primaryColor;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid white;

    h1 {
      color: white;
      font-size: 3.5rem;
      font-family: "Times New Roman", Times, serif;
      margin-bottom: 20px;
    }

    p {
      color: white;
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}

// search component
.search-box {
  display: flex;
  align-items: center;

  .search-btn {
    outline: none;
    border: none;
    width: 42px;
    height: 42px;
    background: $primaryColor;
    cursor: pointer;

    .bx-search {
      color: white;
      font-size: 1.2rem;
      font-weight: bolder;
    }
  }

  .search-input {
    border: none;
    outline: none;
    height: 42px;
    width: 20vw;
    background: none;
    padding: 12px 15px;
    font-size: 1rem;
    line-height: 12px;
    color: $textWhite;
    border-bottom: 5px solid $primaryColor;
  }

  .search-input::placeholder {
    color: $textWhite;
  }
}

// main component
.main-container {
  max-width: 1150px;
  width: calc(100% - 4rem);
  min-height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
}

// card component
// .card-grid-container {
//   display: grid;
//   grid-template-columns: repeat(3, minmax(0, 1fr));
//   width: 100%;
//   gap: 5px;
//   margin-bottom: 50px;

//   .card {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: flex-start;
//     width: 370px;
//     height: 687px;
//     background: $primaryColor;
//     margin-bottom: 20px;

//     img {
//       width: inherit;
//       height: 370px;
//       display: block;
//       object-fit: cover;
//     }

//     .card-contents {
//       padding: 1rem;

//       .profile {
//         display: flex;
//         align-items: center;
//         gap: 10px;

//         .profile-pic {
//           width: 65px;
//           height: 65px;

//           img {
//             width: inherit;
//             height: inherit;
//             object-fit: cover;
//             display: block;
//             border-radius: 50%;
//           }
//         }

//         .profile-content {
//           color: white;
//           line-height: 25px;

//           h2 {
//             font-size: 1.3rem;
//             font-weight: 600;
//           }

//           span {
//             font-size: 0.86rem;
//             font-weight: 300;
//           }
//         }
//       }
//     }
//   }
// }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  background: $primaryColor;
  margin-bottom: 20px;

  img {
    width: inherit;
    height: 370px;
    display: block;
    object-fit: cover;
  }

  .card-contents {
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .profile {
      display: flex;
      align-items: center;
      gap: 10px;

      .profile-pic {
        width: 65px;
        height: 65px;

        img {
          width: inherit;
          height: inherit;
          object-fit: cover;
          display: block;
          border-radius: 50%;
        }
      }

      .profile-content {
        color: white;
        line-height: 25px;

        h2 {
          font-size: 1.3rem;
          font-weight: 600;
        }

        span {
          font-size: 0.86rem;
          font-weight: 300;
        }
      }
    }

    .card-texts {
      margin-top: 20px;
      color: white;
      display: block;

      a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        font-family: "Times New Roman", Times, serif;
        margin-bottom: 20px;

        &:hover {
          text-decoration: underline;
        }
      }

      p {
        line-height: 20px;
        font-size: 0.9rem;
        font-weight: 300;
        letter-spacing: 1.5px;
      }
    }

    .card-footer {
      margin-top: 48px;

      .tag-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 6px;

        span {
          color: white;
          padding: 0.15rem 1rem;
          background: $highlight;
          font-weight: 600;
          border-radius: 10rem;
        }
      }

      .counts-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        margin-top: 15px;
        border-top: 2px solid white;
        height: 30px;
        color: white;

        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .card {
    width: 100%;
  }
}
